#page-create-point {
    width: 90%;
    max-width: 1100px;

    /* alinhamento de caixa pela 'magem' */
    margin: 0 auto;
}

#page-create-point header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 48px;
}

#page-create-point header a {
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

#page-create-point header a span {
    background-image: url('../../assets/svgs/arrow-left.svg');

    width: 20px;
    height: 24px;

    margin-right: 15px;
}

form {
    background-color: #ffffff;
    
    margin: 50px auto;

    /* preenchimento */
    padding: 64px;

    border-radius: 30px;

    max-width: 735px;
}

form h1 {
    text-align: center;
    font-size: 40px;
}

form fieldset {
    margin-top: 64px;
    border: 0;
}

form fieldset legend {
    margin-bottom: 40px;
}

form fieldset legend h2 {
    font-size: 24px;
}

form .field {
    flex: 1;
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

form .field-group {
    display: flex;
}

form input, form select {
    background-color: #f0f0f5;

    border: 0;
    padding: 16px 24px;

    font-size: 16px;

    border-radius: 10px;
    /* tira a linha preta em volta */
    outline: none;
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
}

form .field-group .field + .field {
    margin-left: 24px;
}

form button {
    width: 260px;
    height: 56px;

    border: 0;
    border-radius: 10px;

    background-color: var( --primary-color);
    color: #f0f0f5;

    font-weight: bold;
    font-size: 16px;

    margin-top: 40px;

    outline: none;

    transition: background-color 500ms;

    cursor: pointer;
}

form button:hover {
    background-color: #2fb86e;
}

.itens-grid ul#itens-coleta {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.itens-grid ul#itens-coleta li {
    background-color: var(--back-color);
    list-style: none;

    border: 2px var(--back-color) solid;
    border-radius: 10px;

    height: 180px;
    padding: 32px 24px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;

    cursor: pointer;
}

.itens-grid ul#itens-coleta li.selected {
    background-color: #e1faec;
    border: 2px var(--primary-color) solid;
}

.itens-grid ul#itens-coleta li span {
    flex: 1;
    margin-top: 12px;

    display: flex;
    align-items: center;

    color: var(--title-color);
}

.itens-grid ul#itens-coleta li span,
.itens-grid ul#itens-coleta li img {
    pointer-events: none;
}
