#modal {
    width: 100vw;
    height: 100vh;

    background-color: #0e0a14ef;

    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 500ms;
}

#modal.hide {
    display: none;

}

#modal .content {
    color: azure;

    width: 420px;
}

#modal .header {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 48px;
}

#modal .header a {
    margin-left: 15px;
    background-image: url("../../assets/svgs/x.svg");

    height: 20px;
    width: 20px;

    display: flex;

    font-size: 0.02px;
}

#modal .header h1 {
    color: azure;

    font-size: 36px;
    line-height: 42px;

}

#modal form label {
    font-size: 14px;
    line-height: 16px;

    display: block;
    margin-bottom: 8px;

    font-size: 0.01px;

    
}

#modal form .field {
    display: flex;
}

#modal form input {
    flex: 1;

    background-color: var(--back-color);

    border: none;
    border-radius: 8px 0 0 8px;

    padding: 16px 24px;

    font-size: 16px;
    color: 6c6c80;
}

#modal form button {
    height: 72px;
    width: 76px;

    background-color: var(--primary-color);

    border: none;
    border-radius: 0 8px 8px 0;

    transition: 500ms;
}

#modal form button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}
