:root {
    --title-color: #332254;
    --primary-color: #34cb60;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Noto Sans JP', 'Roboto', sans-serif;
}

body {
    background-color: #f0f1f4;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: 'Ubuntu Mono', monospace;
}

a {
    text-decoration: none;
}

#page-home {
    height: 100vh;
    background: url('../../assets/svgs/home-background.svg') no-repeat;
    background-position: 35vw 100px;
}

#page-home header {
    display: flex;

    align-items: center; /* alinha os itens ao centro do 'eixo x' */
    justify-content: space-between; /* Dá um espaçamento nos itens */
    margin-top: 30px;
}

#page-home .content {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

#page-home header a {
    display: flex;
    color: var(--title-color);
    font-weight: 700;
    /* margin-top: 10px; */
}

#page-home header a span {
    display: flex;
    background-image: url('../../assets/svgs/log-in.svg');
    width: 20px;
    height: 20px;
    
    margin-right: 15px;
}
#page-home main {
    max-width: 560px;
    /* height: 600px; */

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-home main h1 {
    font-size: 54px;
}

#page-home main p {
    font-size: 24px;
    line-height: 40px;

    margin: 24px 0;
}

#page-home main a {
    width: 100%;
    max-width: 360px;
    height: 72px;

    border-radius: 10px 25px;

    display: flex;
    align-items: center;


    background-color: var(--primary-color);

    transition: 400ms;
}

#page-home main a:hover {
    background-color: #2fb86a;
    
}

#page-home main a span {
    width: 72px;
    height: 72px;

    border-radius: 10px 25px;

    background-color: rgba(0, 0, 0, 0.08);

    display: flex;
    align-items: center;
    justify-content: center;
   
}

#page-home main a span::after {
    content: "";
    background-image: url('../../assets/svgs/search.svg');
    width: 20px;
    height: 20px;
}

#page-home main a strong {
    color: azure;
    flex: 1;

    text-align: center;
}

@media(max-width: 900px){
    #page-home {
        background: 70vw;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home .content header {
        flex-direction: column;
    }

    #page-home .content header a {
        position: absolute;
        bottom: 50px;

        left: 50%;
        transform: translate(-50%);
    }

    #page-home main {
        align-items: center;
    }



}
