@media(max-width: 900px){
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home .content header {
        flex-direction: column;
    }

    #page-home .content header a {
        position: absolute;
        bottom: 50px;

        left: 50%;
        transform: translate(-50%);
    }

    #page-home main {
        align-items: center;
        
    }

    #ponto-cards .cards {
        grid-template-columns: 1fr 1fr;
    }

    .field-group{
        display: flex;
        flex-direction: column;
    }

    form .field-group .field + .field {
        margin-left: 0;
    }

    .itens-grid ul#itens-coleta {
        grid-template-columns: 1fr;
    }

}

@media(min-width: 1650px){
    #page-home {
        background-position-x: 40vw;
    }
}

@media(max-height: 760px){
    #page-home {
        background-position-y: 10vw;
    }
}

@media(max-width: 500px){
    
    #ponto-cards .cards {
        grid-template-columns: 1fr;
    }

    #ponto-card smain .cards img {
        width: 100%;
        height: 100%;
    
        border-radius: 8px 8px 0 0;
    
        object-fit: cover;
    }
}
